/*******************************************************************************
* 
* Custom CSS Syling
*
*******************************************************************************/
.title {
  float: left;
}
.logo {
  float: right;
}

.logo img {
  width: 160px;
  border: none;
  box-shadow: none;
  margin: 0 5px;
}

/* Overide the default margin for navbar */
#navbar {
  margin-bottom: 0px;
}

/* The main image */
.bgimg {
    background: url(../img/header-img.jpg) no-repeat center center;
    height: 600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 25px;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-bottom: 20px;
}

.donate {
  text-align: center;
}

div.donate#donate span {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

span .FlattrButton {
  position: relative;
  top: 5px;
  left: -5px;
}

span .PayPalButton {
  width: 74px;
  height: 21px;
  border: none;
  box-shadow: none;
  margin: 0 5px;
  top: 9px;
  right: 2px;
}


.downloads {
  clear: both;
}

.googleplay {
    background: url("../images/en_generic_rgb_wo_60.png") no-repeat scroll right bottom transparent;
    display: block;
    float: left;
    height: 70px;
    margin-left: 0;
    overflow: hidden;
    text-indent: -5000px;
    width: 172px;
}

.screenshots img {
  border: none;
  box-shadow: none;
  margin: 5px;
  padding: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
    height: 100%;
}

.footer {
 position: relative;
 margin-top: 25px;
 padding: 25px;
}

#copyright, #license {
  padding: 1px 0px;
  margin: 0px 0px;
  color: #ffffff;
  font-size: 18px;
}

#license {
  clear: left;
}
