<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tinfoil.sms"
    android:versionCode="19"
    android:versionName="1.4.0-dev" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SEND_RESPOND_VIA_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.tinfoil.sms.TinfoilSMS"
        android:allowBackup="false"
        android:allowClearUserData="true"
        android:icon="@drawable/tinfoil_logo"
        android:label="@string/app_name"
        android:theme="@style/TinfoilSMSTheme" >
        <activity
            android:name="com.tinfoil.sms.sms.ConversationView"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tinfoil.sms.sms.SendMessageActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinfoil.sms.sms.ConversationView" />
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
            <intent-filter>
               <action android:name="android.intent.action.SEND" />
               <category android:name="android.intent.category.DEFAULT" />
               <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tinfoil.sms.settings.AddContact"
            android:label="@string/add_contact_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinfoil.sms.sms.SendMessageActivity" />
        </activity>
        <activity
            android:name="com.tinfoil.sms.settings.QuickPrefsActivity"
            android:label="@string/settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinfoil.sms.sms.ConversationView" />
        </activity>
        <activity
            android:name="com.tinfoil.sms.settings.ImportContacts"
            android:configChanges="orientation"
            android:label="@string/import_contacts" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinfoil.sms.settings.QuickPrefsActivity" />
        </activity>
        <activity
            android:name="com.tinfoil.sms.settings.EditNumber"
            android:configChanges="orientation"
            android:label="@string/edit_number"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinfoil.sms.settings.AddContact" />
        </activity>
        <activity
            android:name="com.tinfoil.sms.settings.RemoveContactsActivity"
            android:configChanges="orientation"
            android:label="@string/delete_contacts" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinfoil.sms.settings.QuickPrefsActivity" />
        </activity>

        <receiver android:name="com.tinfoil.sms.utility.MessageReceiver" 
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tinfoil.sms.utility.MmsReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH" >
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <service android:name="com.tinfoil.sms.utility.MessageService" />

        <activity
            android:name="com.tinfoil.sms.sms.KeyExchangeManager"
            android:label="@string/key_exchange_manager" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".sms.ConversationView" />
        </activity>
        <activity
            android:name="com.tinfoil.sms.settings.UserKeySettings"
            android:label="@string/user_key_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinfoil.sms.settings.QuickPrefsActivity" />
        </activity>

        <provider
            android:name="com.tinfoil.sms.database.DatabaseProvider"
            android:authorities="com.tinfoil.sms.database.provider"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <service
            android:name="com.tinfoil.sms.sms.QuickSMSSendingService"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
    </application>

</manifest>