<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tinfoil.sms"
    android:versionCode="10"
    android:versionName="1.2.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.tinfoil.sms.TinfoilSMS"
        android:allowBackup="false"
        android:allowClearUserData="true"
        android:icon="@drawable/tinfoil_logo"
        android:label="@string/app_name" >
        <activity
            android:name="com.tinfoil.sms.sms.ConversationView"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tinfoil.sms.sms.SendMessageActivity"
            android:label="@string/send_message"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tinfoil.sms.settings.AddContact"
            android:label="@string/add_contact_activity" />
        <activity
            android:name="com.tinfoil.sms.settings.QuickPrefsActivity"
            android:label="@string/settings" />
        <activity
            android:name="com.tinfoil.sms.settings.ManageContactsActivity"
            android:configChanges="orientation"
            android:label="@string/manage_contacts" />
        <activity
            android:name="com.tinfoil.sms.sms.MessageView"
            android:configChanges="orientation"
            android:label="@string/message"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.tinfoil.sms.settings.ImportContacts"
            android:configChanges="orientation"
            android:label="@string/import_contacts" />
        <activity
            android:name="com.tinfoil.sms.settings.EditNumber"
            android:configChanges="orientation"
            android:label="@string/edit_number"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.tinfoil.sms.settings.RemoveContactsActivity"
            android:configChanges="orientation"
            android:label="@string/delete_contacts" />

        <receiver android:name="com.tinfoil.sms.utility.MessageReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.tinfoil.sms.utility.MessageService" />

        <activity
            android:name="com.tinfoil.sms.sms.KeyExchangeManager"
            android:label="@string/key_exchange_manager" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".sms.ConversationView" />
        </activity>
        <activity
            android:name="com.tinfoil.sms.settings.UserKeySettings"
            android:label="@string/user_key_settings" >
        </activity>
        <activity
            android:name="com.tinfoil.sms.settings.TabSelection"
            android:label="@string/title_activity_tab_selection" >
        </activity>
        <activity
            android:name="com.tinfoil.sms.settings.DonationsActivity"
            android:label="@string/title_activity_donations" >
        </activity>

        <provider
            android:name="com.tinfoil.sms.database.DatabaseProvider"
            android:authorities="com.tinfoil.sms.database.provider"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>