<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tinfoil.sms"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="Tinfoil-SMS" >
        <activity android:name=".SendMessageActivity" android:label="Send Message" />
        <activity android:name=".AddContact" android:label="Add Contact" />
        <activity android:name=".QuickPrefsActivity" android:label="Settings" />
        <activity android:name=".ManageContactsActivity" android:label="Contacts" />
        <activity android:name=".MessageView" android:label="Messages" />
        <activity android:name=".ImportContacts" android:label="Import Contacts" />
        <activity android:name=".RemoveContactsActivity" android:label="Delete Contacts" />
        <activity android:name=".ManageNumbersActivity" android:label="Edit Numbers" />
        <activity
            android:name=".Prephase2Activity"
            android:label="Tinfoil-SMS" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>